body{background-color: black;}
.container{
    background-color:white;
    width: 600px;
    height: 300px;
    margin-left: 23%;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 15%;
    padding: 20px;
}

.left{
    float:left;
    width: 50%;
    
}

.right{
    margin-top: 12%;
    width: 50%;
    float: right;
    padding-bottom: 10px
}

#center-button{    
    display: inline-block;
    margin-left: 35%;
}
